[PATHS]
# This is your home directory.
home: /home/user
tk_dir_name: tenk
tk_dir: %(home)s/%(tk_dir_name)s
# This is a json file that holds data about a user's skillset and
# hours practiced.
user_filepath: %(tk_dir)s/default.tk
# This is an xml file that holds data about individual practice sessions
sessions_filepath: %(tk_dir)s/default.xml

[NOTE CATEGORIES]
learned
improved
future
